:root{
    --linear-fundo: color: linear-gradient(to right, #EF3479, #D80956);
    --header-rosa: #EF5A91;
    --white: #FFFFFF;
    --button-rosa: #B42A8D;
    --footer-lilás: #B42A8D;
}


.logo{
    height: 80px;
    width: 85px;
}
header{
    background-color: var(--header-rosa);
    display: flex;
    width: 100%
}
header div{
    display: flex;
    align-content: center;
}
header .left h1{
    align-content: center;
    font-family: Coiny;
    color: var(--white);
    margin: 0px;
}
header .right{
    display: flex;
    align-items: center;
    margin-left: auto;
}
header .right button{
    background-color: var(--button-rosa);
    font-family: Francois One;
    border: 0px;
    margin-right: 17px;
    width: 115px;
    height: 40px;
    border-radius: 15px;
}
header .right button a{
    text-decoration: none;
    color: var(--white)
}

main{
    background: linear-gradient(to bottom, #EF3479, #D80956);
}
main div h1{
    margin: 0px;
    margin-bottom: 0.5em;
    margin-left: 1em;
    font-family: Francois One;
    color: var(--white);
    font-weight: 400;
}
main div span{
    font-family: Alata;
    color: var(--white);
    padding-left: 20px;
}
.modais{
    display: flex;
}
.modais span{
    font-weight: 700;
    font-size: ;
}
footer{
    background-color: var(--footer-lilás);
    display: flex;
}
footer div{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    width: 12em;
    color: var(--white);
    font-family: Francois One;
    margin: 20px;
}
footer .logo{
    margin-top: 10px;
    margin-left: 10px;
}
