<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>04/07/2025</title>
</head>

<body>
    <!-- Bem-vindo! -->
    
    <script>
        const ice = "Bem-vindo à minha humilde chcoupana";
        console.log(ice);

    </script>
    <!-- Text operation-->

    <p id="t1"></p>
    <script>
        //jaz aqui seu texto
        document.getElementById("t1").innerHTML = "I don't know";
        document.getElementById("t1").style.fontSize = "25px";
        document.getElementById("t1").style.color = "white";
        document.getElementById("t1").style.backgroundColor = "black"
    </script>

    <!-- css teste-->

    <div class="p-3 mb-2 bg-info-subtle text-dark">.bg-info</div>
    <br>
    <button type="button" class="btn btn-dark">Dark</button>

    <style>
        body{
            background-image: url('https://tse1.mm.bing.net/th/id/OIP.FVOIv-OSV1vBIhWwPBk4ZgHaEo?rs=1&pid=ImgDetMain&o=7&rm=3');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;

        }
    </style>
    <script>
        const imgElement = document.createElement('img')

        imgElement.src = 'https://tse2.mm.bing.net/th/id/OIP.LilZ1py7C_13PEjEcIYrSAHaG4?rs=1&pid=ImgDetMain&o=7&rm=3'
        imgElement.alt = 'fundo-kuromi'
        imgElement.width = 400;
        imgElement.height = 400;

        document.body.appendChild(imgElement);

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>